@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* defalt style */
*{
    margin: 0;
}
.container{
    width:90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
h3{
    font-size:36px ;
    font-weight:800;
    text-align: center;
    line-height: normal;

}


p, li{
    font-size:18px ;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
body{
    font-family: "Mulish", serif;
}
.btn-primary{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    padding: 0 0.5rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color:rgba(255, 84, 0, 1) ;
    border: 1px solid rgba(255, 84, 0, 1) ; 
    color:white ;
    font-weight: bold;
}
/* navbar style */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    width: 280px;

}
.logo img{
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    gap:3rem;
    
}
.nav-options p{
cursor: pointer;
}
.span{
    color:rgba(255, 84, 0, 1) ;
}
/* nav section end */


/*banner sectn srt  */
.explore-your-travel{
    background-image: linear-gradient(180deg,rgba(19, 19, 24, 0.8) 0%, rgba(19, 19, 24, 0) 100%), url(/images/banner.png) ;
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.explore-container h3{
color:rgba(255, 255, 255, 1) ;
font-size:4rem ;
font-weight:800 ;
}
.explore-container p{
    color:rgb(226, 220, 220) ;
    font-size:1rem;
    line-height:26px ;
    width:676px ;
    padding:1.5rem 0 ;
    margin:auto ;
}
.travel-inputs{
margin-top:2rem;
display: flex;
justify-content:space-evenly ;
align-items: center;
background-color:rgba(255, 255, 255, 0.2) ;
padding: 1rem;
backdrop-filter:blur(4px) ;
border-radius:0.5rem;
}
input, select{
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
/* popular sectn start */
.popular-section{
    display:flex;
    justify-content:space-between;
    gap:3rem ;
}
.text-content{
    display: flex;
    flex-direction: column;
   row-gap: 1rem;
   justify-content: space-between;
}
.text-content p,
 .text-content li,
 .text-content h3{
    text-align: left;
}
.text-content p,
 .text-content li{
    font-size: 16px;
    line-height:24px;
    word-spacing:1px;
    letter-spacing:1px;
 }
/*choose your destination*/
.your-destination img{
    width: 100%;
    height: 300px;
    filter:brightness(70%);


}
.row-1,
.row-2,
.row-3{
display: grid;
grid-template-columns: 1fr 1fr ;
margin: 1rem 0;
gap: 1rem;
}
.country-card{
position: relative;
}
.country-name{
position: absolute;
top:50% ;
left:50%;
color:#FFFFFF;
font-size: 1.5rem;
font-weight: bold;
transform: translate(-50% , -50%);
}
.row-2{
    display: grid;
    grid-template-columns:0.8fr  1.50fr 0.7fr ;
    
}
.row-3{
    grid-template-columns: .75fr 1.25fr;
}
.your-destination h3,
.your-destination p {
    width: 645px;
    margin:30px auto ;
}
/* .your-destination p{
    color: rgba(19, 19, 24, 0.7);
} */